# Import Libraries

In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import  mean_squared_error
from sklearn.linear_model import LinearRegression

# Read Train and Test Files

In [63]:
df_train = pd.read_csv("Train.csv")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item_ID              4990 non-null   object
 1   Store_ID             4990 non-null   object
 2   Item_Store_ID        4990 non-null   object
 3   Item_Weight          4188 non-null   float64
 4   Item_Sugar_Content   4990 non-null   object
 5   Item_Visibility      4990 non-null   float64
 6   Item_Type            4990 non-null   object
 7   Item_Price           4990 non-null   float64
 8   Store_Start_Year     4990 non-null   int64
 9   Store_Size           3540 non-null   object
 10  Store_Location_Type  4990 non-null   object
 11  Store_Type           4990 non-null   object
 12  Item_Store_Returns   4990 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [64]:
df_train

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,DRA12,BABATUNJI010,DRA12_BABATUNJI010,11.60,Low Sugar,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,BABATUNJI013,DRA12_BABATUNJI013,11.60,Low Sugar,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,BABATUNJI017,DRA12_BABATUNJI017,11.60,Low Sugar,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,BABATUNJI018,DRA12_BABATUNJI018,11.60,Low Sugar,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,BABATUNJI035,DRA12_BABATUNJI035,11.60,Ultra Low Sugar,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4985,NCZ54,BABATUNJI019,NCZ54_BABATUNJI019,NaN,Low Sugar,0.145952,Household,402.39,1992,Small,Cluster 1,Grocery Store,406.14
4986,NCZ54,BABATUNJI027,NCZ54_BABATUNJI027,NaN,Low Sugar,0.082956,Household,410.14,1992,Medium,Cluster 3,Supermarket Type3,13808.69
4987,NCZ54,BABATUNJI045,NCZ54_BABATUNJI045,14.65,Low Sugar,0.083528,Household,406.14,2009,NaN,Cluster 2,Supermarket Type1,5685.93
4988,NCZ54,BABATUNJI046,NCZ54_BABATUNJI046,14.65,Low Sugar,0.083359,Household,404.89,2004,Small,Cluster 1,Supermarket Type1,11778.00
4989,NCZ54,BABATUNJI049,NCZ54_BABATUNJI049,14.65,Low Sugar,0.083489,Household,403.39,2006,Medium,Cluster 1,Supermarket Type1,17870.07

In [65]:
df_test = pd.read_csv("Test.csv")
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item_ID              3532 non-null   object
 1   Store_ID             3532 non-null   object
 2   Item_Store_ID        3532 non-null   object
 3   Item_Weight          2871 non-null   float64
 4   Item_Sugar_Content   3532 non-null   object
 5   Item_Visibility      3532 non-null   float64
 6   Item_Type            3532 non-null   object
 7   Item_Price           3532 non-null   float64
 8   Store_Start_Year     3532 non-null   int64
 9   Store_Size           2573 non-null   object
 10  Store_Location_Type  3532 non-null   object
 11  Store_Type           3532 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 331.2+ KB

In [66]:
df_test

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type
0,DRA59,BABATUNJI010,DRA59_BABATUNJI010,8.270,Normal Sugar,0.214125,Soft Drinks,459.98,2005,NaN,Cluster 3,Grocery Store
1,DRA59,BABATUNJI013,DRA59_BABATUNJI013,8.270,Normal Sugar,0.127821,Soft Drinks,464.98,1994,High,Cluster 3,Supermarket Type1
2,DRB01,BABATUNJI013,DRB01_BABATUNJI013,7.390,Low Sugar,0.082171,Soft Drinks,477.38,1994,High,Cluster 3,Supermarket Type1
3,DRB13,BABATUNJI010,DRB13_BABATUNJI010,6.115,Normal Sugar,0.011791,Soft Drinks,472.63,2005,NaN,Cluster 3,Grocery Store
4,DRB13,BABATUNJI013,DRB13_BABATUNJI013,6.115,Normal Sugar,0.007038,Soft Drinks,473.13,1994,High,Cluster 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...,...
3527,NCZ42,BABATUNJI010,NCZ42_BABATUNJI010,10.500,Low Sugar,0.000000,Household,595.81,2005,NaN,Cluster 3,Grocery Store
3528,NCZ42,BABATUNJI013,NCZ42_BABATUNJI013,10.500,Low Sugar,0.011279,Household,592.56,1994,High,Cluster 3,Supermarket Type1
3529,NCZ42,BABATUNJI049,NCZ42_BABATUNJI049,10.500,Ultra Low Sugar,0.011305,Household,588.81,2006,Medium,Cluster 1,Supermarket Type1
3530,NCZ53,BABATUNJI010,NCZ53_BABATUNJI010,9.600,Low Sugar,0.040970,Health and Hygiene,471.80,2005,NaN,Cluster 3,Grocery Store
3531,NCZ53,BABATUNJI013,NCZ53_BABATUNJI013,9.600,Low Sugar,0.024457,Health and Hygiene,466.55,1994,High,Cluster 3,Supermarket Type1

In [67]:
df_train.describe(include='all')

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
count,4990,4990,4990,4188.000000,4990,4990.000000,4990,4990.000000,4990.000000,3540,4990,4990,4990.000000
unique,1451,10,4990,NaN,3,NaN,16,NaN,NaN,3,3,4,NaN
top,NCL31,BABATUNJI049,NCF18_BABATUNJI045,NaN,Low Sugar,NaN,Snack Foods,NaN,NaN,Medium,Cluster 3,Supermarket Type1,NaN
freq,9,620,1,NaN,3039,NaN,758,NaN,NaN,1582,1940,3304,NaN
mean,NaN,NaN,NaN,12.908838,NaN,0.066916,NaN,391.803796,2004.783567,NaN,NaN,NaN,6103.520164
std,NaN,NaN,NaN,4.703256,NaN,0.053058,NaN,119.378259,8.283151,NaN,NaN,NaN,4447.333835
min,NaN,NaN,NaN,4.555000,NaN,0.000000,NaN,78.730000,1992.000000,NaN,NaN,NaN,83.230000
25%,NaN,NaN,NaN,8.767500,NaN,0.027273,NaN,307.890000,1994.000000,NaN,NaN,NaN,2757.660000
50%,NaN,NaN,NaN,12.600000,NaN,0.053564,NaN,393.860000,2006.000000,NaN,NaN,NaN,5374.675000
75%,NaN,NaN,NaN,17.100000,NaN,0.095358,NaN,465.067500,2011.000000,NaN,NaN,NaN,8522.240000
max,NaN,NaN,NaN,21.350000,NaN,0.328391,NaN,667.220000,2016.000000,NaN,NaN,NaN,32717.410000

In [68]:
df_test.describe(include='all')

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type
count,3532,3532,3532,2871.000000,3532,3532.000000,3532,3532.000000,3532.000000,2573,3532,3532
unique,1207,10,3532,NaN,3,NaN,16,NaN,NaN,3,3,4
top,FDH28,BABATUNJI027,FDQ59_BABATUNJI045,NaN,Low Sugar,NaN,Fruits and Vegetables,NaN,NaN,Medium,Cluster 3,Supermarket Type1
freq,8,473,1,NaN,2161,NaN,485,NaN,NaN,1211,1409,2273
mean,NaN,NaN,NaN,12.781665,NaN,0.065030,NaN,296.903392,2004.900057,NaN,NaN,NaN
std,NaN,NaN,NaN,4.554868,NaN,0.049454,NaN,181.897221,8.497250,NaN,NaN,NaN
min,NaN,NaN,NaN,4.555000,NaN,0.000000,NaN,78.230000,1992.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,8.840000,NaN,0.026811,NaN,145.307500,1994.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,12.600000,NaN,0.054444,NaN,237.770000,2006.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,16.600000,NaN,0.094049,NaN,461.002500,2011.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,21.350000,NaN,0.321115,NaN,667.220000,2016.000000,NaN,NaN,NaN

# Check for Missing Values

In [69]:
df_train.isnull().sum() # for train data

Item_ID                   0
Store_ID                  0
Item_Store_ID             0
Item_Weight             802
Item_Sugar_Content        0
Item_Visibility           0
Item_Type                 0
Item_Price                0
Store_Start_Year          0
Store_Size             1450
Store_Location_Type       0
Store_Type                0
Item_Store_Returns        0
dtype: int64

In [70]:
df_test.isnull().sum() # for test data

Item_ID                  0
Store_ID                 0
Item_Store_ID            0
Item_Weight            661
Item_Sugar_Content       0
Item_Visibility          0
Item_Type                0
Item_Price               0
Store_Start_Year         0
Store_Size             959
Store_Location_Type      0
Store_Type               0
dtype: int64

# Fill up Missing Values

Categrorical Values

In [71]:
# Fill up missing categorical values ('TOP_PACK' and 'REGION' ) with N/A
for i in ['Store_Size']:
    df_train[i] = df_train[i].fillna(value = 'N/A')
    df_test[i] = df_test[i].fillna(value = 'N/A')

In [72]:
# Fill up missing numerical values with the mean
for i in ['Item_Weight']:
    df_train[i] = df_train[i].fillna(value = 0)
    df_test[i] = df_test[i].fillna(value = 0)

# Check again for Missing Values

In [73]:
df_train.isnull().sum() # for train dat

Item_ID                0
Store_ID               0
Item_Store_ID          0
Item_Weight            0
Item_Sugar_Content     0
Item_Visibility        0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
Item_Store_Returns     0
dtype: int64

In [74]:
df_test.isnull().sum() # for test data

Item_ID                0
Store_ID               0
Item_Store_ID          0
Item_Weight            0
Item_Sugar_Content     0
Item_Visibility        0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
dtype: int64

# Convert all data to numeric

Check Data Types

In [75]:
df_train.dtypes # For train data

Item_ID                 object
Store_ID                object
Item_Store_ID           object
Item_Weight            float64
Item_Sugar_Content      object
Item_Visibility        float64
Item_Type               object
Item_Price             float64
Store_Start_Year         int64
Store_Size              object
Store_Location_Type     object
Store_Type              object
Item_Store_Returns     float64
dtype: object

In [76]:
df_test.dtypes # For test data

Item_ID                 object
Store_ID                object
Item_Store_ID           object
Item_Weight            float64
Item_Sugar_Content      object
Item_Visibility        float64
Item_Type               object
Item_Price             float64
Store_Start_Year         int64
Store_Size              object
Store_Location_Type     object
Store_Type              object
dtype: object

Check for unique data

df_train.nunique() #For train data

In [77]:
df_test.nunique() #For test data

Item_ID                1207
Store_ID                 10
Item_Store_ID          3532
Item_Weight             355
Item_Sugar_Content        3
Item_Visibility        3294
Item_Type                16
Item_Price             2704
Store_Start_Year          9
Store_Size                4
Store_Location_Type       3
Store_Type                4
dtype: int64

This will be done on "Item_ID", "Store_ID", "Item_Sugar_Content", "Item_Type", "Store_Size", "Store_Location_Type", 
"Store_Type".

"Item_Store_ID" will be dropped because all entries are unique, so no effect on the expected result.

In [78]:
from sklearn.preprocessing import LabelEncoder

In [79]:
#For Train Dataset
le = LabelEncoder()
df_train["Item_ID"] = le.fit_transform(df_train["Item_ID"].astype(str))
df_train["Store_ID"] = le.fit_transform(df_train["Store_ID"].astype(str))
df_train["Item_Sugar_Content"] = le.fit_transform(df_train["Item_Sugar_Content"].astype(str))
df_train["Item_Type"] = le.fit_transform(df_train["Item_Type"].astype(str))
df_train["Store_Size"] = le.fit_transform(df_train["Store_Size"].astype(str))
df_train["Store_Location_Type"] = le.fit_transform(df_train["Store_Location_Type"].astype(str))
df_train["Store_Type"] = le.fit_transform(df_train["Store_Type"].astype(str))
df_train

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,0,0,DRA12_BABATUNJI010,11.60,0,0.068535,14,357.54,2005,2,2,0,709.08
1,0,1,DRA12_BABATUNJI013,11.60,0,0.040912,14,355.79,1994,0,2,1,6381.69
2,0,2,DRA12_BABATUNJI017,11.60,0,0.041178,14,350.79,2014,2,1,1,6381.69
3,0,3,DRA12_BABATUNJI018,11.60,0,0.041113,14,355.04,2016,1,2,2,2127.23
4,0,6,DRA12_BABATUNJI035,11.60,2,0.000000,14,354.79,2011,3,1,1,2481.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4985,1450,4,NCZ54_BABATUNJI019,0.00,0,0.145952,9,402.39,1992,3,0,0,406.14
4986,1450,5,NCZ54_BABATUNJI027,0.00,0,0.082956,9,410.14,1992,1,2,3,13808.69
4987,1450,7,NCZ54_BABATUNJI045,14.65,0,0.083528,9,406.14,2009,2,1,1,5685.93
4988,1450,8,NCZ54_BABATUNJI046,14.65,0,0.083359,9,404.89,2004,3,0,1,11778.00
4989,1450,9,NCZ54_BABATUNJI049,14.65,0,0.083489,9,403.39,2006,1,0,1,17870.07

In [80]:
#For Test Dataset
le = LabelEncoder()
df_test["Item_ID"] = le.fit_transform(df_test["Item_ID"].astype(str))
df_test["Store_ID"] = le.fit_transform(df_test["Store_ID"].astype(str))
df_test["Item_Sugar_Content"] = le.fit_transform(df_test["Item_Sugar_Content"].astype(str))
df_test["Item_Type"] = le.fit_transform(df_test["Item_Type"].astype(str))
df_test["Store_Size"] = le.fit_transform(df_test["Store_Size"].astype(str))
df_test["Store_Location_Type"] = le.fit_transform(df_test["Store_Location_Type"].astype(str))
df_test["Store_Type"] = le.fit_transform(df_test["Store_Type"].astype(str))
df_test

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type
0,0,0,DRA59_BABATUNJI010,8.270,1,0.214125,14,459.98,2005,2,2,0
1,0,1,DRA59_BABATUNJI013,8.270,1,0.127821,14,464.98,1994,0,2,1
2,1,1,DRB01_BABATUNJI013,7.390,0,0.082171,14,477.38,1994,0,2,1
3,2,0,DRB13_BABATUNJI010,6.115,1,0.011791,14,472.63,2005,2,2,0
4,2,1,DRB13_BABATUNJI013,6.115,1,0.007038,14,473.13,1994,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3527,1205,0,NCZ42_BABATUNJI010,10.500,0,0.000000,9,595.81,2005,2,2,0
3528,1205,1,NCZ42_BABATUNJI013,10.500,0,0.011279,9,592.56,1994,0,2,1
3529,1205,9,NCZ42_BABATUNJI049,10.500,2,0.011305,9,588.81,2006,1,0,1
3530,1206,0,NCZ53_BABATUNJI010,9.600,0,0.040970,8,471.80,2005,2,2,0
3531,1206,1,NCZ53_BABATUNJI013,9.600,0,0.024457,8,466.55,1994,0,2,1

# Normalising the Dataset To A Common Scale Using The Min Max Scaler

Drop Item "Item_Store_ID"

In [82]:
df_train = df_train.drop(["Item_Store_ID"], axis =1)

In [84]:
scaler = MinMaxScaler()
normalised_df_train = pd.DataFrame(scaler.fit_transform(df_train), columns=df_train.columns)

# Build Model

Declare Label and Features

In [85]:
# Recollect "Item_Store_ID" is to be dropped
X_train = normalised_df_train.drop(["Item_Store_Returns"], axis =1)
y_train = normalised_df_train["Item_Store_Returns"]

X_test = df_test.drop(["Item_Store_ID"], axis = 1)

Split Training and Test Data

In [86]:
x_train,x_validation,y_train,y_validation = train_test_split(X_train,y_train,test_size=0.30,random_state=7)

Declare Model Type

In [87]:
linear_model = LinearRegression()

Fit the model to the training dataset

In [88]:
linear_model.fit(x_train,y_train)

LinearRegression()

Model Accuracy

In [89]:
linear_model.score(x_validation,y_validation)

0.48159154342690946

In [94]:
prediction = linear_model.predict(x_validation)
prediction

array([0.23476384, 0.23814485, 0.26551755, ..., 0.28437401, 0.17576597,
       0.13167202])

# Measuring Performance

Root Mean Squared Error

In [96]:
rmse = np.sqrt(mean_squared_error(y_validation, prediction))
round(rmse, 3)

0.096

Making Predictions on Test Dataset

In [97]:
Test_prediction = linear_model.predict(X_test)[2] #predicting probability.  showing the user_id column and the prediction alone

Save prediction file for submission

In [98]:
pd.DataFrame({"Item_Store_ID": df_test["Item_Store_ID"], "Item_Store_Returns": Test_prediction}).to_csv("First_Submission.csv", index = False)